.new_article_container {
  padding: 3rem 10rem;
  /* background-color: red; */
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  gap: 3rem; */
}

.author_details_title {
  margin-bottom: 0.2rem;
}

.author_details {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 1.3rem 12px;
  background-color: #fff;
  gap: 0.6rem;
  border-radius: 8px;
}

.author_details input {
  padding: 8px;
}
